<html>
<body>
    <div style="text-align: center; margin-top: 35%">
        <form role="form" method="get">
            <button type="button" class="btn btn-primary btn-lg">Sign in</button>
        </form>
    </div>
</body>
</html>
